<div class="container">
  <h3>Editar Associado</h3>
  Nome: <%= @associado.user.nome %>
  <%= link_to "Editar cadastro", edit_user_registration_path(@associado.user), class: "btn btn-primary" %>
  <br /><br />
  <%= @associado.id %>
  <%= simple_form_for @associado do |f| %>
    <%= f.input :user_id %>
    <div class="daterange">
      <%= f.input :data_cadastro, as: :date_picker, label: "Data de registro" %>
      <%= f.input :data_vencimento, as: :date_picker, label: "Data de vencimento" %>
    </div>

    <button type="submit" class="btn btn-success">Enviar</button>
    <%= link_to root_url, class: "btn btn-warning" do %>
      <%= icon("remove") %> Cancelar
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
$(function(){
  $('.date_picker.form-control').datetimepicker();
})
</script>