<h2>Alterar senha <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :current_password, hint: "informe sua senha atual", required: true %>
    <%= f.input :password, label: "Nova senha", autocomplete: "off", hint: I18n.t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it'), required: false %>
    <%= f.input :password_confirmation, label: "Confirme a nova senha", required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "btn-success" %>
  </div>
<% end %>
