<div class="container">
  <h3>Editar notícia</h3>
  <%= simple_form_for @noticia do |f| %>
    <%= f.input :titulo, required: true, label: "Título" %>
    <%= f.input :texto, required: true, autofocus: true %>
    <%= f.input :visivel %>

    <button type="submit" class="btn btn-success">Salvar</button>
    <%= link_to icon('remove', 'Cancelar'), root_url, class: "btn btn-warning" %>
  <% end %>
</div>
