<div class="container">
  <h3>Cadastrar nova notícia</h3>
  <%= simple_form_for :noticia do |f| %>
    <%= f.input :titulo %>
    <%= f.input :texto %>
    <button type="submit" class="btn btn-success">Salvar</button>
    <%= link_to root_url, class: "btn btn-warning" do %>
      <%= icon("remove") %> Cancelar
    <% end %>
  <% end %>
</div>
