<%= simple_form_for @evento do |f| %>
  <%= f.input :nome, required: true %>
  <%= f.input :data_inicio, required: true, label: "Data de início", as: :date_picker, html5: true %>
  <%= f.input :data_fim, required: true, label: "Data de término", as: :date_picker, html5: true %>
  <%= f.input :local, required: true %>
  <%= f.input :endereco, required: true, label: "Endereço" %>
  <%= f.input :site_externo, label: "Usar site externo?" %>
  <%= f.input :site %>
  <div class="esconder">
    <%= f.input :intro, label: "Introdução" %>
    <%= f.input :modalidades %>
    <%= f.input :cronograma %>
    <%= f.input :inscricoes, label: "Inscrições" %>
  </div>
  <%= f.input :resultados %>
  <%= f.button :submit, "Salvar", class: "btn btn-success" %>

  <%= link_to icon('remove', 'Cancelar'), eventos_path, class: "btn btn-warning" %>
<% end %>
